<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/layout :: head('RealDolmen Fleet - Car Model Overview')"/>

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/r/bs/dt-1.10.9,af-2.0.0,fc-3.1.0,fh-3.0.0,kt-2.0.0,r-1.0.7,sc-1.3.0,se-1.0.1/datatables.min.css"/>
</head>
<body class="hold-transition skin-rd sidebar-mini">
<div class="wrapper">
    <th:block th:replace="fragments/admin :: header"></th:block>
    <th:block th:replace="fragments/layout :: sidebar(active='orders')"></th:block>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Order <th:block th:text="${order.id}"></th:block>
                <small th:text="${order.employee.firstName + ' ' + order.employee.lastName}"></small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Overview</h3>
                        </div>

                        <div class="box-body">
                            <dl class="dl-horizontal">
                                <dt>Id</dt>
                                <dd th:text="${order.id}"></dd>

                                <dt>Employee</dt>
                                <dd th:text="${order.employee.firstName + ' ' + order.employee.lastName}"></dd>

                                <dt>Status</dt>
                                <dd>
                                    <span class="label" th:text="${order.status}"
                                          th:classappend="${order.status == T(com.realdolmen.fleet.CarOrder.OrderStatus).PENDING}? 'label-warning' : 'label-success'"></span>
                                </dd>
                            </dl>

                            <h1>Ordered car</h1>
                            <dl class="dl-horizontal">
                                <dt>Brand</dt>
                                <dd th:text="${order.orderedCar.carModel.brand}"></dd>

                                <dt>Model</dt>
                                <dd th:text="${order.orderedCar.carModel.model}"></dd>

                                <dt>Pack</dt>
                                <dd th:text="${order.orderedCar.carModel.pack}"></dd>
                            </dl>

                            <h2>Options</h2>
                            <th:block th:replace="fragments/car :: carOptionTable(${order.orderedCar})"></th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" th:if="${order.status != T(com.realdolmen.fleet.CarOrder.OrderStatus).DELIVERED}">
                <div class="col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Car Got Delivered?</h3>
                        </div>

                        <div class="box-body">
                            <p>Enter the license plate and mark the car as delivered.</p>

                            <form th:action="@{/admin/order/{id}/deliver(id=${order.id})}" method="post"
                                  th:object="${deliverForm}">
                                <ul>
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
                                </ul>

                                <div class="form-group">
                                    <label th:field="*{licensePlate}">License Plate</label>
                                    <input type="text" th:field="*{licensePlate}" th:errorclass="fieldError" />
                                </div>
                                <div>
                                    <p th:errors="*{licensePlate}"></p>
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="btn btn-flat btn-primary" value="Deliver" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <th:block th:replace="fragments/layout :: footer"></th:block>
</div>

<th:block th:replace="fragments/layout :: scripts"></th:block>
</body>
</html>