<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: head(admin=${true})" />

    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs/dt-1.10.9,af-2.0.0,fc-3.1.0,fh-3.0.0,kt-2.0.0,r-1.0.7,sc-1.3.0,se-1.0.1/datatables.min.css"/>
</head>
<body>
<div id="mainContainer" class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Fleet Admin</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/admin/car-model}">Car Models</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text">Signed in as <span th:text="${user.getEmail()}">someone</span></p></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="action-bar">
            <a th:if="${order.status != 'DELIVERED'}" href="#" th:href="@{/admin/order/{id}/deliver(id=${order.id})}" class="btn btn-default">Set delivered</a>
        </div>

        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd th:text="${order.id}"></dd>

            <dt>Employee</dt>
            <dd th:text="${order.employee.firstName + ' ' + order.employee.lastName}"></dd>

            <dt>Status</dt>
            <dd th:text="${order.status}"></dd>
        </dl>

        <h1>Ordered car</h1>
        <dl class="dl-horizontal">
            <dt>Brand</dt>
            <dd th:text="${order.orderedCar.carModel.brand}"></dd>

            <dt>Model</dt>
            <dd th:text="${order.orderedCar.carModel.model}"></dd>

            <dt>Pack</dt>
            <dd th:text="${order.orderedCar.carModel.pack}"></dd>
        </dl>

        <h2>Options</h2>
        <th:block th:replace="fragments/car :: carOptionTable(${order.orderedCar})"></th:block>
    </div>
</div>
</body>
</html>