<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fleet - Details</title>
    <th:block th:include="fragments/head::head" />
</head>
<body>
<div id="mainContainer" class="container">
    <div th:replace="fragments/header::header">
    </div>
    <header>
        <h1 th:text='${carModel.brand + " " +  carModel.model}'></h1>
    </header>
    <div class="row">
        <div class="col-sm-4">
            <div class="carPictureContainer">
                <img th:if="${carModel.pictureUrl != null}" th:src="${carModel.pictureUrl}" />
                <img th:if="${carModel.pictureUrl == null}" th:src="@{/images/car-shadow.png}" />
            </div>
        </div>
        <div class="col-sm-4">
            <dl class="dl-horizontal">
                <dt>Category</dt>
                <dd th:text="${carModel.category}"></dd>

                <dt>Brand</dt>
                <dd th:text="${carModel.brand}"></dd>

                <dt>Type</dt>
                <dd th:text="${carModel.model}"></dd>

                <dt>Pack</dt>
                <dd th:text="${carModel.pack}"></dd>

                <dt>Fuel type</dt>
                <dd th:text="${carModel.fuelType.displayName}"></dd>

                <dt>Delivery time</dt>
                <dd>
                    <span th:if="${carModel.deliveryTime.months != 0}" th:text="${carModel.deliveryTime.months + ' month(s)'}"></span>
                    <span th:if="${carModel.deliveryTime.days != 0 and carModel.deliveryTime.months != 0}"> and </span>
                    <span th:if="${carModel.deliveryTime.days != 0}" th:text="${carModel.deliveryTime.days + ' day(s)'}"></span>
                </dd>

                <dt>Ideal km</dt>
                <dd th:text="${carModel.idealKm}"></dd>

                <dt>Max. km</dt>
                <dd th:text="${carModel.maxKm}"></dd>
            </dl>

            <span th:text="${carModel.listPriceInclVat}"></span><br />
            <span th:text="${carModel.amountDowngradeInclVat}"></span><br />
            <span th:text="${carModel.amountUpgradeInclVat}"></span><br />
            <span th:text="${carModel.benefitInKindPerMonth}"></span><br />
            <a th:href="@{/car/order(id=${carModel.id})}" href="#" class="btn btn-default">Order</a>
        </div>
    </div>

</div>
</body>
</html>
