<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head::head" />

    <!--Custom scripts-->
    <script src="/scripts/grid.js"></script>

    <script src="/scripts/carmodelgrid.js"></script>
</head>
<body>
<div id="mainContainer" class="container">
    <div th:replace="fragments/header::header">
    </div>
    <div>
        <header>
            <h1>Welcome <span th:text="${employeeName}"></span></h1>
            <form>
                <input id="categoryInput" type="number" th:value="${employee.functionalLevel}" th:max="${maxCategory}" th:min="${minCategory}"/>
            </form>
        </header>
    </div>
    <div id="carModelGrid"></div>
</div>
</body>
</html>
