<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head::head" />

    <!--Custom scripts-->
    <script src="/scripts/grid.js"></script>

    <script th:inline="javascript">
        $(document).ready(function(){

            var category = $('#categoryInput');

            var retrieveCarModels = function() {
                console.log('retrieveCarModels');

                /*<![CDATA[*/
                var url =  /*[[@{/carmodels}]]*/'';
                /*]]>*/

                if (category.val() != '') {
                    url = url + '/' + category.val();
                }

                console.log('requestUrl: ' + url);

                $('#carModelGrid').load(url);
            };

            $('.gridCell').load(function(){
                console.log('gridCell ready....... height:' + $(this).height());
                $(this).responsiveEqualHeightGrid();
            });

            retrieveCarModels();

            category.change(retrieveCarModels);
        });
    </script>
</head>
<body>
<div id="mainContainer" class="container">
    <div th:replace="fragments/header::header"></div>
    <div>
        <header>
            <h1>Welcome <span th:text="${employeeName}"></span></h1>
            <form>
                <label for="categoryInput">Category: </label>
                <input id="categoryInput" type="number" th:value="${employee.functionalLevel}" th:max="${maxCategory}" th:min="${minCategory}"/>
                <button></button>
            </form>
        </header>
    </div>
    <div id="carModelGrid"></div>
</div>
</body>
</html>
