<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head::head">
    <title>Home</title>
</head>
<body>
<div id="mainContainer" class="container">
    <form method="post" th:action="@{/login}">
        <div th:if="${param.error}" class="alert alert-error">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>

        <div class="form-group">
            <label for="username">E-mail address</label>
            <input class="form-control" type="text" id="username" name="username" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" />
        </div>

        <div class="form_group">
            <label for="remember-me">Remember me</label>
            <input type="checkbox" id="remember-me" name="remember-me" />
        </div>

        <input type="submit" name="submit" value="Login" />
    </form>
</div>
</body>
</html>
