html,
body {
    width:100%;
    height:100%;
}

html {
    display:table;
}

body {
    display:table-cell;
    vertical-align:middle;
}

.loginContainer {
    background-color: #293d49;
    color: #fff;
    border-radius: 25px;
    padding: 0 40px 40px 40px;

    max-width:50em;
    margin:0 auto;
}

.loginHeader {
    font-family: champagneAndLimousinesBold, sans-serif;
    text-align: center;
}

.loginHeader h1 {
    font-size: 15rem;
    margin: 2rem;
}