html,
body {
    width:100%;
    height:100%;
}

html {
    display:table;
}

body {
    display:table-cell;
    vertical-align:middle;
}

.loginContainer {
    background-color: #045b5f;
    color: #fff;
    border-radius: 25px;
    padding: 0 40px 40px 40px;

    max-width:50em;
    margin:0 auto;
}

.loginHeader {
    text-align: center;
}

.loginHeader h1 {
    font-family: 'Champagne & Limousines Bold', sans-serif;
    font-size: 15rem;
    margin: 2rem;
}

.form-control-feedback {
    color: #777;
}