@font-face {
    font-family: 'Champagne & Limousines';
    font-style: normal;
    font-weight: normal;
    src: local('Champagne & Limousines'), url('../fonts/champagneAndLimousines/Champagne & Limousines.woff') format('woff');
}


@font-face {
    font-family: 'Champagne & Limousines Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Champagne & Limousines Italic'), url('../fonts/champagneAndLimousines/Champagne & Limousines Italic.woff') format('woff');
}


@font-face {
    font-family: 'Champagne & Limousines Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Champagne & Limousines Bold'), url('../fonts/champagneAndLimousines/Champagne & Limousines Bold.woff') format('woff');
}


@font-face {
    font-family: 'Champagne & Limousines Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Champagne & Limousines Bold Italic'), url('../fonts/champagneAndLimousines/Champagne & Limousines Bold Italic.woff') format('woff');
}

body {
    background-color: rgb(240, 240, 240);
    font-family: 'Roboto Light', sans-serif;
}

.menu {
    background-color: rgb(100,100,100);
    color: #FFFFFF;
}

#mainContainer {
    width: 90%;
}

.gridCellWrapper {
    display: flex;
    flex-wrap: wrap;

    width: 20%;
    padding: 10px;
}

.gridCell {
    width: 100%;
    background-color: #293d49;
    box-shadow: 2px 2px 10px #888888;
    display: flex;
}

.gridCell:hover {
    box-shadow: 2px 2px 20px #2CABE0;
}

@media only screen and (max-width: 1600px) {
    .gridCellWrapper {
        width: 25%;
    }
}

@media only screen and (max-width: 1200px) {
    .gridCellWrapper {
        width: 33.33%;
    }
}

@media only screen and (max-width: 850px) {
    .gridCellWrapper {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .gridCellWrapper {
        width: 100%;
    }
}

.gridCell img {
    width: 100%;
}

#carModelGrid {
    display: flex;
    flex-wrap: wrap;
}

.carFigure {
    background-color: #FFFFFF;
}

.carModelTitle {
    padding: 25px;
    font-family: 'Roboto Light', sans-serif;
    font-size: 1.6rem;
    font-weight: bolder;
    color: white;
    display: flex;
    flex: 1;
}

.carModelTitle p {
    align-self: flex-end;
}

.carPictureContainer {
    background-color: white;
    box-shadow: 2px 2px 10px #888888;;
}

.carPictureContainer img {
    width: 100%;
}

#navBarLogo {
    color: white;
    font-family: 'Champagne & Limousines Bold', sans-serif;
    font-size: 5rem;
}

#navBarLogo:hover {
    color: #2CABE0;
}

#pictureBlock {
    overflow: hidden;
    width: 350px;
    height: 250px;
    box-shadow: 2px 2px 10px #888888;
    background-color: white;
    vertical-align: middle;
    margin: 1rem;
    position: relative;
}

#pictureBlock img {
    max-width:100%;
    max-height:100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.gridCellLink {
    text-decoration:none;
    color:black;
    display: flex;
    flex-direction: column;
}
