<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="carmodelgrid">
        <div class="gridCellWrapper" th:each="carModel : ${carModelList}">
            <div class="gridCell">
                <a class="gridCellLink" th:href="@{'/carModelDetail/' + ${carModel.id}}" >
                    <figure class="carFigure">
                        <img th:if="${carModel.pictureUrl != null}" th:src="${carModel.pictureUrl}"/>
                        <img th:if="${carModel.pictureUrl == null}" th:src="@{/images/car-shadow.png}"/>
                    </figure>
                    <div class="carModelTitle">
                        <p th:text="${carModel.brand + ' ' + carModel.model}"></p>
                    </div>
                </a>
            </div>
        </div>
    </th:block>
</body>
</html>
