<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="pageNavigation (current, amount)">
    <ul class="pagination pull-right">
        <li th:class="${current == 0 ?: 'disabled'}">
            <a th:href="@{${currentUrl}(page=${current - 1})}">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </li>
        <li th:each="i : ${#numbers.sequence(1, amount)}">
            <a th:href="@{${currentUrl}(page=${i})}" th:text="${i}"></a>
        </li>
        <li th:class="${current == amount ?: 'disabled'}">
            <a th:href="@{${currentUrl}(page=${current + 1})}">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>