<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/layout :: head('RealDolmen Fleet')" />
</head>
<body class="hold-transition skin-rd layout-top-nav">
<div class="wrapper">
    <th:block th:replace="fragments/layout :: header(userEmployee=${employee})"></th:block>

    <div class="content-wrapper">
        <div class="container">
            <section class="content-header">
                <h1>
                    <th:block th:text="${carOrder.orderedCar.carModel.brand + ' ' + carOrder.orderedCar.carModel.model}"></th:block>
                    <small>Summary</small>
                </h1>
            </section>

            <div class="pad margin">
                <div class="callout callout-success" style="margin-bottom: 0!important;">
                    <h4><i class="fa fa-check"></i> Confirmation</h4>
                    Your order was successfully saved.
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/layout :: footer"></th:block>
    <th:block th:replace="fragments/layout :: scripts"></th:block>
</div>
</body>
</html>