<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fleet - Details</title>
    <th:block th:include="fragments/head::head" />
</head>
<body>
    <div id="mainContainer" class="container">
        <div th:replace="fragments/header::header"></div>

        <ul>
            <li th:each="option : ${carOrder.orderedCar.selectedCarOptions}" th:text="${option.name}"></li>
        </ul>

        <form method="post" th:object="${optionSelectionList}" th:action="${''}">
            <input type="submit" name="_eventId_submit" value="Confirm" />
        </form>
    </div>
</body>
</html>
