<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/* This stylesheet has to be included before AdminLTE's stylesheet */-->
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <th:block th:include="fragments/layout :: head('RealDolmen Fleet - Car Edit')"/>

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/r/bs/dt-1.10.9,af-2.0.0,fc-3.1.0,fh-3.0.0,kt-2.0.0,r-1.0.7,sc-1.3.0,se-1.0.1/datatables.min.css"/>
</head>
<body class="hold-transition skin-rd sidebar-mini">
<div class="wrapper">
    <th:block th:replace="fragments/admin :: header"></th:block>
    <th:block th:replace="fragments/layout :: sidebar(active='pool')"></th:block>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <th:block th:if="${editForm.id == null}">New Car</th:block>
                <th:block th:if="${editForm.id != null}" th:text="${editForm.carModel.brand + ' ' + editForm.carModel.model}"></th:block>
                <small>Edit</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <form action="#" th:action="@{/admin/car}" method="post"
                  enctype="multipart/form-data" th:object="${editForm}" role="form"
                  data-toggle="validator" class="form-horizontal">
                <div class="row margin-bottom">
                    <div class="col-sm-12">
                        <input type="submit" class="pull-right btn btn-flat btn-primary" value="Save" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <i class="fa fa-text-width"></i>
                                <h3 class="box-title">Details</h3>
                            </div>
                            <div class="box-body">
                                <div class="form-group" th:classappend="${#fields.hasErrors('carModel')}? 'has-error'">
                                    <label class="col-sm-2 control-label" for="carModel">Car Model</label>

                                    <div class="col-sm-10">
                                        <select id="carModel" class="form-control select2" th:field="*{carModel}">
                                            <option th:each="carModel : ${carModels}" th:value="${carModel.id}" th:text="${carModel.brand + ' ' + carModel.model}"></option>
                                        </select>

                                        <div class="help-block with-errors" th:errors="*{carModel}"></div>
                                    </div>
                                </div>

                                <div class="form-group" th:classappend="${#fields.hasErrors('employee')}? 'has-error'">
                                    <label class="col-sm-2 control-label" for="employee">Employee</label>

                                    <div class="col-sm-10">
                                        <select id="employee" class="form-control select2" th:field="*{employee}">
                                            <option value="">Unassigned</option>
                                            <option th:each="employee : ${employees}" th:value="${employee.id}"
                                                    th:text="${employee.firstName + ' ' + employee.lastName}"
                                                    th:attr="data-has-car=${employee.currentCar != null}"></option>
                                        </select>

                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="form-group" th:classappend="${#fields.hasErrors('mileage')}? 'has-error'">
                                    <label class="col-sm-2 control-label" for="mileage">Mileage</label>

                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input id="mileage" type="number" class="form-control" th:field="*{mileage}"
                                                   required="required" min="0" />
                                            <span class="input-group-addon">km</span>
                                        </div>

                                        <div class="help-block with-errors" th:errors="*{mileage}"></div>
                                    </div>
                                </div>

                                <div class="form-group has-feedback" th:classappend="${#fields.hasErrors('licensePlate')}? 'has-error'">
                                    <label class="col-sm-2 control-label" for="licensePlate">License Plate</label>

                                    <div class="col-sm-10">
                                        <input id="licensePlate" type="text" class="form-control" th:field="*{licensePlate}"
                                               required="required" data-inputmask="'mask': '[1-]AAA-999'"/>

                                        <div class="help-block with-errors" th:errors="*{licensePlate}"></div>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <input type="hidden" th:field="*{id}"/>
                                <input type="hidden" th:field="*{version}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <i class="fa fa-cubes"></i>
                                <h3 class="box-title">Installed Options</h3>
                            </div>
                            <div class="box-body">
                                <table class="optionTable table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>No options</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" class="pull-right btn btn-flat btn-primary" value="Save" />
                    </div>
                </div>
            </form>
        </section>
    </div>

    <th:block th:replace="fragments/layout :: footer"></th:block>
</div>

<th:block th:replace="fragments/layout :: scripts"></th:block>

<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script th:src="@{/scripts/optionManagement.js}"></script>
<script th:src="@{/scripts/validator.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    (function ($) {
        var carId = /*[[${editForm.id}]]*/ '';
        var carUrl = /*[[@{/admin/car}]]*/ '';
        var carModelUrl = /*[[@{/admin/car-model}]]*/ '';

        $(document).ready(function () {
            $('form').validator();
            $('select').select2();
            $('input').inputmask();

            $('#employee').change(onEmployeeChange);

            var $carModelSelect = $('#carModel');
            $carModelSelect.change(onCarModelChange);
            $carModelSelect.trigger('change');
        });

        function onEmployeeChange() {
            var $employeeSelect = $(this);
            var $selectedOption = $employeeSelect.find('option:selected');

            var hasCar = $selectedOption.attr('data-has-car');
            var $helpBlock = $employeeSelect.siblings('.help-block');
            if(hasCar !== undefined && hasCar === 'true') {
                $helpBlock.text('This employee already has a car. Selecting this employee will dissociate their car from them.');
            } else {
                $helpBlock.text('');
            }
        }

        function onCarModelChange() {
            var selectedCarModelId = $(this).find('option:selected').val();
            var promiseCarOptions = $.get(carModelUrl + '/' + selectedCarModelId + '/options');
            var promiseInstalledCarOptions;
            if(carId === null) {
                promiseInstalledCarOptions = $.get([]);
            } else {
                promiseInstalledCarOptions = $.get(carUrl + '/' + carId + '/installed');
            }

            $.when(promiseCarOptions, promiseInstalledCarOptions).done(onCarOptionsReceived);
            function onCarOptionsReceived(carOptionsRequest, installedCarOptionsRequest) {
                var carOptions = carOptionsRequest[0];
                var installedCarOptions = installedCarOptionsRequest[0];

                var $optionTable = $('.optionTable tbody');

                var $rows = [];
                for(var i = 0, len = carOptions.length; i < len; i++) {
                    (function(i) {
                        var $row = $('<tr />');

                        var installed = $.grep(installedCarOptions, function(o) { return o.id == carOptions[i].id }).length !== 0;

                        var $checkboxColumn = $([
                            "<div class='checkbox checkbox-primary'>",
                            "<input type='checkbox' class='styled styled-primary' name='installedOptions' />",
                            "<label></label>",
                            "</div>"
                        ].join("\n"));
                        var $checkbox = $checkboxColumn.find('input');
                        $checkbox.attr('value', carOptions[i].id);
                        $checkbox.attr('id', 'installedOptions' + (i + 1));
                        $checkbox.prop('checked', installed);
                        $row.append($checkboxColumn);

                        var $nameColumn = $('<td />');
                        $nameColumn.text(carOptions[i].name);
                        $row.append($nameColumn);

                        $rows.push($row);
                    })(i);
                }

                $optionTable.empty();
                if($rows.length === 0)
                    $rows.push($('<tr><td>No options</td></tr>'));

                $optionTable.append($rows);
            }
        }
    })(jQuery);
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {

        var pictureUrl = $('#pictureUrlInput');
        var img = $('#carImage');
        var default_url = /*[[@{/images/car-shadow.png}]]*/'';

        var getPictureFromUrl = function () {
            var img_url = pictureUrl.val();
            img.attr('src', img_url);
        };

        pictureUrl.change(getPictureFromUrl);

        img.error(function () {
            $(this).attr('src', default_url);
        });

        $('#addNewOptionBtn').click(function(e){
            e.preventDefault();

            var addOptionUrl = /*[[@{/admin/car-model/options/add?optionName=}]]*/'';
            var optionName = $('#newOptionNameInput').val();
            addOptionUrl += optionName;

            console.log(addOptionUrl);

            $.get(addOptionUrl, function (data) {
                var optionId = data;
                addOptionToCarModelFunction(e, optionId, optionName);
            });
        });
    });
    /*]]>*/
</script>
</body>
</html>
